/*
  Inicio
*/
body {
  background-color: blue;
    width: 1200px;
    margin: 0 auto;
    font-size: 18px;

    color: black;
}

/*
  Galeria
*/
main {

}

main>img>#iconos
{
  width:10%;
  margin: 10px;
  background-color: red;
}
