/*
  Inicio
*/
body {
  background-color: blue;
    width: 1200px;
    margin: 0 auto;
    font-size: 18px;
    color: black;
}
body>h3{
  color: white;
}
/*
  Galeria
*/
main {

}

.iconos>img{
  width: 300px;
  height: 350px;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}
